<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.SecretDevelopersLtd.DeXian.bdracingpigeondatabase">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.BuySell.SupplementsActivity"></activity>
        <activity android:name=".Activities.BuySell.SellPigeonActivity" />
        <activity android:name=".Activities.BuySell.BuyPigeonActivity" />
        <activity android:name=".Activities.BuySell.ProfileActivity" />
        <activity android:name=".Activities.BuySell.LoginActivity" />
        <activity android:name=".Activities.AuctionSite" />
        <activity android:name=".Activities.WebViewActivity" />
        <activity android:name=".Activities.RacerClubsActivity" />
        <activity android:name=".Activities.RacingPigeonActivity" />
        <activity android:name=".Activities.Developer" />
        <activity android:name=".Activities.TopFanciers" />
        <activity android:name=".Activities.TopPigeons" />
        <activity android:name=".Activities.AllPigeons" />

        <activity android:name=".Activities.BuySell.BuyAndSellActivity"/>

        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6049858234928469~3780302102" />
    </application>

</manifest>